# Python
__pycache__/
*.py[cod]

# 環境変数
.env
.env.*

# フロントエンド
frontend/js/env.js

# 仮想環境
env/

# Django
*.sqlite3
media/

# VSCode等
.vscode/

# その他
*.log
**/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# TypeScript build outputs
frontend/js-dist/
*.tsbuildinfo

# Node
node_modules/
frontend/node_modules/
